<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-left"></a>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/owl"><p class="text-primary; fw-bold">Owl</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="covid">Covid-19</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card">
  <div class="card-body">
      <img src="https://www.gstatic.com/onebox/sports/logos/flags/{{location_image}}_icon_square.png" placeholder width="40" height="40" class="rounded mx-auto d-block" alt="...">
    <h3 class="card-title text-center fw-bold">{{location}}</h3>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Cases</h5>
      <p class="card-text">{{total_cases}}</p>
      <p class="card-text"><small class="text-muted">today's new cases: {{new_cases}}</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Deaths</h5>
      <p class="card-text">{{total_deaths}}</p>
      <p class="card-text"><small class="text-muted">today's deaths: {{new_deaths}}</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Vaccination</h5>
      <p class="card-text">{{total_doses}} administrated doses</p>
      <p class="card-text"><small class="text-muted">{{full_vaccination}} fully vaccinated</small></p>
    </div>
  </div>
</div>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_
without_background.png/1020px-SARS-CoV-2_without_background.png" placeholder width="315" height="315" class="rounded mx-auto d-block" alt="...">

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        COVID-19
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          COVID-19 affects each person in a different way. Most infected people develops the disease with light symptoms.
          However, this virus should be taken serious and must not be devalued.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Common symptoms
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Fever</li>
              <li class="list-group-item">Cough</li>
              <li class="list-group-item">Tiredness</li>
              <li class="list-group-item">Loss of taste or smell</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Vaccines
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Pfizer</li>
              <li class="list-group-item">Johnson & Johnson</li>
              <li class="list-group-item">Moderna</li>
              <li class="list-group-item">AstraZeneca</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
      <h3 class="card-title text-center fw-bold">Vaccines</h3>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Pfizer</h5>
      <p class="card-text">Efficiency: 95%</p>
      <ul class="list-unstyled">
          <li>This RNA vaccine can cause some secondary effects like:</li>
          <ul>
              <li>Headache</li>
              <li>Joint Pain</li>
              <li>Tiredness</li>
              <li>Chills</li>
              <li>Muscle Aches</li>
          </ul>
      </ul>
        <p class="card-text"><small class="text-muted">Manufacturer: BioNTech, Fosun Pharma, Pfizer</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Johnson & Johnson</h5>
      <p class="card-text">Efficiency: 66,9%</p>
      <ul class="list-unstyled">
          <li>Vaccine type: Viral vector not capable of replication. Secondary effects:</li>
          <ul>
              <li>Pain or tenderness at the injection site</li>
              <li>Redness</li>
              <li>Swelling</li>
              <li>Fever</li>
          </ul>
      </ul>
        <p class="card-text"><small class="text-muted">Manufacturer: Janssen Pharmaceuticals</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Moderna</h5>
      <p class="card-text">Efficiency: 94,1%</p>
        <ul class="list-unstyled">
            <li>This RNA vaccine can cause some secondary effects like:</li>
            <ul>
                <li>Pain, swelling or redness at the injection site</li>
                <li>Tiredness</li>
                <li>Headache</li>
                <li>joint or muscle pain</li>
            </ul>
        </ul>
        <p class="card-text"><small class="text-muted">Manufacturer: Moderna, NIAID</small></p>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">AstraZeneca</h5>
      <p class="card-text">Efficiency: 63%</p>
      <ul class="list-unstyled">
            <li>Vaccine type: Viral vector not capable of replication. Secondary effects:</li>
            <ul>
                <li>Pain or tenderness at the injection site</li>
                <li>Headache</li>
                <li>Tiredness</li>
                <li>Fever</li>
            </ul>
        </ul>
        <p class="card-text"><small class="text-muted">Manufacturer: AstraZeneca, Universidade de Oxford</small></p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>